apiVersion: v1
kind: Secret
metadata:
  name: USER
type: Opaque
stringData:
  USER: "admin"
---
apiVersion: v1
kind: Secret
metadata:
  name: PASSWORD
type: Opaque
stringData:
  PASSWORD: "password"
---